.actionButton {
    border-radius: 10px;
    background-color: brown;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2em;
}

.container {
    align-items: center;
    display: flex;
    margin-left: 2em;
}

.doneTask {
    padding: 0em 2em;
    margin: 1em;
}

.paragraf{
    width: 100vw;
}

.paragraf .remove{
    display: inline-flex;
}

.record {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style-type: none;
    display: flex
}

.record span {
    flex: 1; /*TODO Revisar como es que esto me alinea los contenedores*/
}



.tarea {
    margin: 2px;
}


#mainTitle {
    background-image: url("assets/flatWorking.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    opacity: 0.5;
    display: flex;
    height: 300px;
    text-align: center;
}



#headerTitle {
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4em;
    margin-top: 0em;
    position: absolute;
    z-index: 1000;
    /* !este lo posiciona en la parte superior */
}


#task {
    border-radius: 20px;
    height: 2em;
    width: 25%;
}

#todos {
    display: flex;
    align-items: baseline;
    margin-left: 2em;
    width: 100%;
}